/* VARS */
:root {
    --primary-color: #004B9C;
    --secondary-color: #A0D9F7; 
    --accent-color: #e74c3c;
    --background-color: #f5f5f5; 
    --text-color: #333333;
}

/* HEADER */

/* bg */
.bg-top,
.bg-header{
    background-color: var(--primary-color);
}

/* social icons */
.social-icons a{
    background-color: #fff;
    display: inline-block;
    width: 36px;
    height: 36px;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
}
.social-icons a i{
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);;
}

/* form login */
.frm-login {
    font-size: .8em;
    float: right;
}
.frm-login label{
    color: #fff;
}
.frm-login input{
    border: 0;
}
.frm-login button{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border: 0;
}

/* header logo */
.header-content .logo-main{
    width: 100%;
    max-width: 300px;
    height: auto;
    float:left;
}
.header-content .title-main{
    color: #fff;
    font-weight: bold;
    font-size: 2.6em;
}

/* button menu */
.btn-menu-toggle{
    color: var(--primary-color);;
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

/* FOOTER */
.bg-footer{
    background-color: var(--primary-color);
}
.footer-content .logo-footer{
    width: 100%;
    max-width: 300px;
    height: auto;
    float:left;
}
.footer-content .social-icons{
    margin-top: 20px;
    float: right;
}

/* MENU */
.bg-menu{
    background-color: var(--secondary-color);
}

.primary-menu li {
    text-align: center;
    flex: 1; /* Asegura que todos los elementos sean del mismo ancho */
    margin: 0 5px; /* Espaciado horizontal */
}
.primary-menu li a{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);;
    padding: 18px 0;
}
.primary-menu li a:hover{
    color: #fff;
    background-color: var(--primary-color);
}

/* RESET */

.entry-content{
    margin: 0!important;
}
.post, .page{
    margin: 0!important;
}

/* WOOCOMMERCE */
.entry-content .woocommerce,
.entry-content .wp-block-woocommerce-cart,
.entry-content .wp-block-woocommerce-checkout,
.entry-content .wp-block-woocommerce-myaccount{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}